#home-page {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #000000b3;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;

  .home-page-content {
    color: white;

    .heading {
      text-align: center;

      h2 {
        font-size: 50px;
        margin: 0;
        margin-bottom: 15px;
      }
    }

    .menu {
      margin-top: 25px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 30px;
      column-gap: 40px;

      .menu-item {
        height: 100px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background: #ffffff24;
        border-radius: 10px;
        display: flex;
        flex-flow: column;
        row-gap: 15px;

        h4 {
          font-size: 20px;
          margin: 0;
        }

        img {
          width: 80%;
        }
      }
    }
  }
}
